@{
    ViewData["Title"] = "Home Page";
}
<div style="background-color:aquamarine">
<div class="text-center">
    <h1 class="display-4">Welcome to Lovely Professional University(LPU)</h1>
     <img src="https://images.shiksha.com/mediadata/images/1488259134phpShnPJa.jpeg"/></div></div>
